body {
	background: #333;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Playfair Display', serif;
}

text {
	fill: white;
}

table {
  border-collapse: collapse;
}

th {
	font-style: bold;
	font-size: 1.3em;
}

tbody>tr:hover {
	cursor: pointer;
	color: yellow;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: 200ms ease;
	color: white;
}

a:hover {
	transition: 200ms ease;
	color: yellow;
}

thead, tbody, tr {
	display: contents;
}

img {
	cursor: pointer;
	width: 100%;
}

.title {
	font-size: 1.8em;
	display: inline;
	padding-left: 10px;
}

#container {
	display: grid;
	grid-template-columns: 66% 34%;
	grid-template-rows: 70px auto;
	width: 100vw;
	height: 100vh;
}

#header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, auto));
	align-items: center;

	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}
/*.navbar {
	grid-column-start: 2;
	grid-column-end: 3;
}*/
.navbar-nav {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: 100%;
	height: 100%;
	justify-items: center;
  list-style: none;
}

.navbar a {
	opacity: 40%;
}
.navbar a:hover {
	opacity: 100%;
}

#table {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: left;
	overflow-y: scroll;
	padding-left: 10px;
}

#albumart {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	overflow-y: scroll;
	padding-right: 10px;
}

.charities-text {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	overflow-y: scroll;
	padding-right: 10px;
}

.charities table {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: auto;
}

.songs table {
	display: grid;
	grid-template-columns: 12% 40% 40%;
	grid-template-rows: auto;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		font-size: 8px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		font-size: 9px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		font-size: 10px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		font-size: 12px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		font-size: 16px;
	}
}